.head/*选择名称为head的类*/
{
    width: 100%;/*长度占满整个页面*/
    height: 70px;/*高度   70 */
    background-color: white;
    color:black;/*设置文字的颜色*/
}
.user_reg{
    margin-top: 1px;/*上边距*/
    width: 100%;
    height: 260px;
    background-color: #fef2fc;
}
.from_reg
{
    position: relative; /*设置位置为相对位置*/
    top: 20px;/*相对于上面 向下移动20*/
    left: 80px;/*相对于左边 移动80*/

    width: 300px;
    height: 200px;
    background-color: #fffcfe;

}
body
{
    background-color: beige;
}