<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    配置bean-->
    <!--    bean的唯一标识 id 找这个bean用的-->
    <bean id="person" class="org.example.Person">
        <!--        使用子标签 设置 属性-->
<!--        设置 name的值-->
        <property name="name" value="Jaylan"/>
<!--        设置age的值-->
        <property name="age" value="21"/>
    </bean>
</beans>
