<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!--配置信息-->
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <!--        将该包下所有类配置别名 不区分大小写 别名就是类名 能在resultType中使用-->
        <package name="com.itheima.pojo"/>
        <!--        自行指定一个奇怪的别名 注意这里的type要指定到类 不再是包范围-->
        <!--        <typeAlias alias="UUSSEERR" type="com.itheima.pojo.User"/>-->

    </typeAliases>
    <!--    驼峰转下划线形式-->


    <!--    指定要使用的和数据库环境 切换数据库就在这里改 指定要连接的数据库用的 前提是是又对应的数据库信息-->
    <environments default="development">

        <!--        该环境的id是development-->
        <environment id="development">
            <!--            设置事务的管理 使用JDBC -->
            <transactionManager type="JDBC"/>
            <!--            数据源类型使用连接池 POOLED 连接池-->
            <dataSource type="POOLED">
                <!--                数据库连接信息 -->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mybatis?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
        <!--        假设这是test环境的数据库信息 -->
        <!--        环境id改为test-->
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mybatis?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    <!--    指定SQL映射文件路径-->
    <mappers>
        <!--        指定映射文件 可以添加多个 默认是去resource目录中查找 不用功指定绝对路径会导致找不到 -->
        <!--        <mapper resource="com/ithema/mapper/UserMapper.xml"/>-->
        <package name="com/itheima/mapper"/>
    </mappers>
    <!--    配置别名-->


</configuration>

