<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--   创建一个beanA-->
    <bean id="person" class="org.example.pojo.Person" >
        <constructor-arg name="name" value="张三"/>
        <constructor-arg name="age" value="23"/>AaA
<!--        关联关系 person类中的clazz属性关联 另外一个bean-->
        <property name="clazz" ref="clazz"/>
    </bean>

    <bean id="clazz" class="org.example.pojo.Clazz"/>

</beans>