<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.BrandMapper">
    <!--    使用SQL片段 处理实体名称和数据库字段名不匹配问题-->
    <!--    定义SQL片段-->
    <sql id="brand">
        id,brand_name as brandName,company_name as companyName,ordered,description
    </sql>
    <select id="selectAll" resultType="com.itheima.pojo.Brand">
        select *
        <!--        引用上面定义的SQL片段 标签自闭合-->
        <!--        <include refid="brand"/>-->
        from tb_brand;
    </select>
    <select id="selectById" resultType="com.itheima.pojo.Brand">
        <!--
         ${id} 先使用占位符?占位 然后获取参数 再进行拼接  有被SQL注入的风险
         #{id} 直接拼接到一块 防止再执行 能防止SQL注入
        }-->
        select * from tb_brand where id = #{id}
    </select>
    <select id="selectByCondition" resultType="com.itheima.pojo.Brand">
        select * from tb_brand
        where status=#{status}
        and company_name like #{companyName}
        and brand_name like #{brandName}
    </select>
</mapper>